*{
    margin: 2px;
    padding: 2px;
    text-decoration: none;
}

body{
    background-color: #cdcfcc;
}

.display{
    display: flex;
}

.columnDisplay{
    flex-direction: column;
}

.justify-content{
    justify-content: center;
}

.allign-items{
    align-items: center;
}

.gap{
    gap: 20px;
}

.headingFont{
    font-family: "Lobster", serif;
    font-weight: 600;
    font-style: normal;
}

.normalFont{
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #a22844;
}

.backgroundPinkBlend{
    background-color: #cbbfcce8;
}

/* General layout for larger screens */
.bodyContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* Left section */
.left {
    width: 25%; /* Make it proportional instead of fixed in vw */
    padding: 10px;
    box-sizing: border-box; /* Include padding in width calculation */
}

/* Right section */
.right {
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
}


